---
import Layout from "../../layouts/Layout.astro";
import { getBlogs2, getBlogDetail2 } from "../../library/wpcms";

// 詳細記事ページの全パスを取得
export async function getStaticPaths() {
  const response = await getBlogs2({ fields: ["id"] });
  return response.contents.map((content: any) => ({
    params: {
      serviceId: content.id,
    },
  }));
}

const response2 = await getBlogs2({ fields: ["id", "title"] });

//記事の詳細情報を取得
const { serviceId } = Astro.params;
const service = await getBlogDetail2(serviceId as string);
---

<Layout title="My first blog with Astro">
  <article class="l-service-detail">
    <header
      class="c-page-header p-service-detail-header"
      style="background-image: url(https://hagukumu.develop999.net/wp-content/uploads/2022/09/illust-2-1000x852.png);"
    >
      <div class="l-contents__wrapper">
        <h1 class="c-page-header__heading p-service-detail-header__heading">
          <b class="c-page-header__directory" lang="en">Service</b>
          <span class="c-page-header__text-group">
            <span class="c-page-header__sub-text">{service.lead_text}</span>
            <span class="c-page-header__main-text">{service.title}</span>
          </span>
        </h1>
      </div>
    </header>

    <section class="l-service-detail__section">
      <header class="l-contents__wrapper c-section-header -md-no-border">
        <h2 class="c-section-header__heading">サービス詳細</h2>
      </header>
      <div class="l-contents__wrapper p-service-detail-description">
        <Fragment set:html={service.content} />
        <ul class="p-service-detail-section__tag-list">
          {
            service.service_tag.map((content: any) => (
              <>
                <li class="p-service-detail-section__tag-item">
                  {content.name}
                </li>
              </>
            ))
          }
        </ul>
      </div>
    </section>
    <section class="l-service-detail__section">
      <header class="l-contents__wrapper c-section-header">
        <h2 class="c-section-header__heading">開催スケジュール</h2>
      </header>
      {
        service.events[0].map((content: any) => (
          <>
            <div class="l-contents__wrapper">
              <div class="p-service-detail-schedule">
                <p class="p-service-detail-schedule__highlight">
                  <Fragment set:html={content.event_title} />
                </p>
                <dl class="p-service-detail-schedule__list">
                  {content.event_list.map((content: any) => (
                    <>
                      <dt class="p-service-detail-schedule__key">
                        <Fragment set:html={content.title} />
                      </dt>
                      <dd class="p-service-detail-schedule__value">
                        <Fragment set:html={content.text} />
                      </dd>
                    </>
                  ))}
                </dl>
              </div>
            </div>
          </>
        ))
      }
    </section>

    <section class="l-service-detail__section">
      <header class="l-contents__wrapper c-section-header">
        <h2 class="c-section-header__heading">写真ギャラリー</h2>
      </header>
      <div class="l-contents__wrapper p-gallery">
        <div class="p-gallery__list">
          {
            service.gallery.map((content: any) => (
              <>
                <div class="p-gallery__item">
                  <a class="js-modal" href="#gallery_1">
                    <img src={content.img.url} alt="" />
                  </a>
                </div>
                <figure class="mfp-hide" id="gallery_1">
                  <img src={content.img.url} alt="" />
                  <figcaption class="p-gallery__caption">
                    はぐくむ湖畔とオンライン開催を交互に、毎月開催するカンバセーションカフェ
                  </figcaption>
                </figure>
              </>
            ))
          }
        </div>
      </div>
    </section>
    <section class="l-service-detail__section">
      <header class="l-contents__wrapper c-section-header">
        <h2 class="c-section-header__heading">その他のおすすめサービス</h2>
      </header>
      <div class="l-contents__wrapper p-service-detail-recommend">
        {
          response2.contents
            .filter((content: any) => {
              if (content.service_tag.length == 0) {
                return false;
              }
              if (
                content.service_tag[0].term_id !=
                  service.service_tag[0].term_id ||
                content.id == service.id
              ) {
                return false;
              }
              return true;
            })
            .slice(0, 3)
            .map((content: any) => (
              <section class="p-service-detail-recommend__item">
                <div class="p-service-detail-recommend__text-block">
                  <h3 class="p-service-detail-recommend__heading">
                    <a
                      class="p-service-detail-recommend__link"
                      href={"/services/" + content.id}
                    >
                      {content.title}
                    </a>
                  </h3>
                  <p class="p-service-detail-recommend__text">
                    {content.lead_text}
                  </p>
                  <ul class="p-service-detail-recommend__tag-list">
                    {content.service_tag.map((s: any) => (
                      <li class="p-service-detail-recommend__tag-item">
                        {s.name}
                      </li>
                    ))}
                  </ul>
                </div>
                <figure class="p-service-detail-recommend__media">
                  <img
                    class="p-service-detail-recommend__image"
                    src={content.main_img.url}
                    alt=""
                  />
                </figure>
              </section>
            ))
        }
      </div>
    </section>
    <div class="l-sticky-footer p-sticky-footer">
      <a href="/entry" class="c-button -primary -contained -fix">申し込む</a>
    </div>
  </article>
</Layout>
