---
import Layout from "../../layouts/Layout.astro";
import { getBlogs, getBlogDetail } from "../../library/microcms";
import { getBlogs2, getBlogDetail2 } from "../../library/wpcms";

// 詳細記事ページの全パスを取得
export async function getStaticPaths() {
  const response = await getBlogs2({ fields: ["id"] });
  return response.contents.map((content: any) => ({
    params: {
      serviceId: content.id,
    },
  }));
}

//記事の詳細情報を取得
const { serviceId } = Astro.params;
const service = await getBlogDetail2(serviceId as string);
---

<Layout title="My first blog with Astro">
  <article class="l-service-detail">
    <header
      class="c-page-header p-service-detail-header"
      style="background-image: url(https://hagukumu.develop999.net/wp-content/uploads/2022/09/illust-2-1000x852.png);"
    >
      <div class="l-contents__wrapper">
        <h1 class="c-page-header__heading p-service-detail-header__heading">
          <b class="c-page-header__directory" lang="en">Service</b>
          <span class="c-page-header__text-group">
            <span class="c-page-header__sub-text">{service.lead_text}</span>
            <span class="c-page-header__main-text">{service.title}</span>
          </span>
        </h1>
      </div>
    </header>

    <section class="l-service-detail__section">
      <header class="l-contents__wrapper c-section-header -md-no-border">
        <h2 class="c-section-header__heading">サービス詳細</h2>
      </header>
      <div class="l-contents__wrapper p-service-detail-description">
        <div class="p-service-detail-description__text-group">
          {service.content}
        </div>
        <ul class="p-service-detail-section__tag-list">
          {
            service.service_tag.map((content: any) => (
              <>
                <li class="p-service-detail-section__tag-item">
                  {content.name}
                </li>
              </>
            ))
          }
        </ul>
      </div>
    </section>
    <section class="l-service-detail__section">
      <header class="l-contents__wrapper c-section-header">
        <h2 class="c-section-header__heading">開催スケジュール</h2>
      </header>
      {
        service.events[0].map((content: any) => (
          <>
            <div class="l-contents__wrapper">
              <div class="p-service-detail-schedule">
                <p class="p-service-detail-schedule__highlight">
                  {content.event_title}
                </p>
                <dl class="p-service-detail-schedule__list">
                  {content.event_list.map((content: any) => (
                    <>
                      <dt class="p-service-detail-schedule__key">
                        {content.title}
                      </dt>
                      <dd class="p-service-detail-schedule__value">
                        {content.text}
                      </dd>
                    </>
                  ))}
                </dl>
              </div>
            </div>
          </>
        ))
      }
    </section>

    <section class="l-service-detail__section">
      <header class="l-contents__wrapper c-section-header">
        <h2 class="c-section-header__heading">写真ギャラリー</h2>
      </header>
      <div class="l-contents__wrapper p-gallery">
        <div class="p-gallery__list">
          {
            service.gallery.map((content: any) => (
              <>
                <div class="p-gallery__item">
                  <a class="js-modal" href="#gallery_1">
                    <img src={content.img.url} alt="" />
                  </a>
                </div>
                <figure class="mfp-hide" id="gallery_1">
                  <img src={content.img.url} alt="" />
                  <figcaption class="p-gallery__caption">
                    はぐくむ湖畔とオンライン開催を交互に、毎月開催するカンバセーションカフェ
                  </figcaption>
                </figure>
              </>
            ))
          }
        </div>
      </div>
    </section>
    <section class="l-service-detail__section">
      <header class="l-contents__wrapper c-section-header">
        <h2 class="c-section-header__heading">その他のおすすめサービス</h2>
      </header>
      <div class="l-contents__wrapper p-service-detail-recommend">
        <section class="p-service-detail-recommend__item">
          <div class="p-service-detail-recommend__text-block">
            <h3 class="p-service-detail-recommend__heading">
              <a
                class="p-service-detail-recommend__link"
                href="https://hagukumu.develop999.net/services/80/"
                >ライフデザインスクール</a
              >
            </h3>
            <p class="p-service-detail-recommend__text">
              自分の実現したい未来を生きるための<br />
              グループコーチング型スクール
            </p>
            <ul class="p-service-detail-recommend__tag-list">
              <li class="p-service-detail-recommend__tag-item">オンライン</li>
              <li class="p-service-detail-recommend__tag-item">リアル開催</li>
              <li class="p-service-detail-recommend__tag-item">コース</li>
            </ul>
          </div>
          <figure class="p-service-detail-recommend__media">
            <img
              class="p-service-detail-recommend__image"
              src="https://hagukumu.develop999.net/wp-content/uploads/2022/09/illust-6.png"
              alt=""
            />
          </figure>
        </section>
        <section class="p-service-detail-recommend__item">
          <div class="p-service-detail-recommend__text-block">
            <h3 class="p-service-detail-recommend__heading">
              <a
                class="p-service-detail-recommend__link"
                href="https://hagukumu.develop999.net/services/301/"
                >はぐくむコーチングスクール</a
              >
            </h3>
            <p class="p-service-detail-recommend__text">
              コーチングを通じて関わる人の実現したい未来に<br />
              寄り添うあり方と技術を学ぶ
            </p>
            <ul class="p-service-detail-recommend__tag-list">
              <li class="p-service-detail-recommend__tag-item">オンライン</li>
              <li class="p-service-detail-recommend__tag-item">リアル開催</li>
              <li class="p-service-detail-recommend__tag-item">コース</li>
            </ul>
          </div>
          <figure class="p-service-detail-recommend__media">
            <img
              class="p-service-detail-recommend__image"
              src="https://hagukumu.develop999.net/wp-content/uploads/2022/09/illust-7.png"
              alt=""
            />
          </figure>
        </section>
        <section class="p-service-detail-recommend__item">
          <div class="p-service-detail-recommend__text-block">
            <h3 class="p-service-detail-recommend__heading">
              <a
                class="p-service-detail-recommend__link"
                href="https://hagukumu.develop999.net/services/344/"
                >高校生コーチング</a
              >
            </h3>
            <p class="p-service-detail-recommend__text">
              偏差値だけで選ぶ大学選びから<br />
              やりたいことで選ぶ進路選択へ
            </p>
            <ul class="p-service-detail-recommend__tag-list">
              <li class="p-service-detail-recommend__tag-item">オンライン</li>
              <li class="p-service-detail-recommend__tag-item">コース</li>
            </ul>
          </div>
          <figure class="p-service-detail-recommend__media">
            <img
              class="p-service-detail-recommend__image"
              src="https://hagukumu.develop999.net/wp-content/uploads/2022/09/illust-5.png"
              alt=""
            />
          </figure>
        </section>
      </div>
    </section>
    <div class="l-sticky-footer p-sticky-footer">
      <a
        href="https://hagukumu.develop999.net/entry"
        class="c-button -primary -contained -fix">申し込む</a
      >
    </div>
  </article>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1em;
    max-width: 60ch;
  }
</style>
